<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>{{block "title" .}}Fantapronostico{{end}}</title>
        {{block "styles" .}}{{end}}
        <style>
            *, *::before, *::after {
                box-sizing: border-box;
            }
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                color: #333;
                margin: 0;
                padding: 0;
            }
            .container {
                min-height: 100vh;
                height: 100vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body>
        {{template "header" .}}
        <div class="container">
            {{block "content" .}}{{end}}
        </div>
        {{template "footer" .}}
    </body>
</html>
